@keyframes left-right {
    0% {
        transform: translate(0, 0) rotate(0deg);
        filter: saturate(100%);
    }

    33% {
        transform: translate(0.8%, 0.4%) rotate(-1.5deg);
        filter: saturate(80%);
        /* Двигаем вправо */
    }

    66% {
        transform: translate(-0.8%, -0.4%) rotate(1.1deg);
        filter: saturate(70%);
        /* Двигаем вправо */
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
        filter: saturate(100%);
        /* Возвращаем влево */
    }
}

@keyframes left-right2 {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(0.8%, 0.4%);
        /* Двигаем вправо */
    }

    100% {
        transform: translate(0, 0);
        /* Возвращаем влево */
    }
}

@keyframes saturate {
    0% {
        filter: saturate(100%);
    }

    33% {
        filter: saturate(80%);
        /* Двигаем вправо */
    }

    66% {
        filter: saturate(70%);
        /* Двигаем вправо */
    }

    100% {
        filter: saturate(100%);
        /* Возвращаем влево */
    }
}

@keyframes blur1 {
    0% {
        filter: blur(0px);
    }

    50% {
        filter: blur(10px);
        /* Двигаем вправо */
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes blur2 {
    0% {
        filter: blur(4px);
    }

    50% {
        filter: blur(0px);
        /* Двигаем вправо */
    }

    100% {
        filter: blur(4px);
        /* Двигаем вправо */
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .2;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: .2;
    }

    100% {
        opacity: 0;
    }
}


@keyframes appearance2 {
    0% {
        opacity: 1;
    }

    25% {
        opacity: .8;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shaking {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0.2px, -0.2px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(-0.2px, 0.2px);
    }

    100% {
        transform: translate(0, 0);
    }
}

