.bg-dark {
    background-color: var(--grey-bg-dark);
}

.bg-promo {
    background: url(../img/bg/promo-bg.jpg) center center/cover no-repeat;
}

.bg-contact {
    background: url(../img/bg/contact-bg.jpg) center center/cover no-repeat;
}