.btn {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.20em;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
  padding: 17px 47px 17px 62px;
  color: var(--main-white);
  background-color: transparent;
  border: 1px solid var(--main-color);
  cursor: pointer;

  &__text-plus {
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 11px;
      position: absolute;
      top: calc(50% + 0px);
      left: -18px;
      background-color: var(--white-text);
      transform-origin: center;
      transform: translateY(-54.5454%) scaleY(1);
      transition: transform 0.3s ease;
    }
    &:after {
      content: '';
      display: block;
      width: 11px;
      height: 5px;
      position: absolute;
      top: calc(50% + 2px);
      left: -23px;
      border-radius: 0;
      background-color: var(--white-text);
      transform-origin: center;
      transform: translateY(-100%) scale(1, 0.2);
      transition: transform 0.3s ease, border-radius 0.3s ease;
    }
  }

  &:hover {
	border: 1px solid var(--main-color-hover);
    .btn__text-plus {
      &::before {
        transform: translateY(-54.5454%) scaleY(0);
      }
      &::after {
        transform: translateY(-100%) scale(0.4545, 1);
        border-radius: 50%;
      }
    }
  }

  &_header {
    padding: 12px 26px 11px 45px;
    line-height: 13px;
  }
}
