/* Deafult Margin & Padding */
/*-- Margin Top --*/
.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-35 {
	margin-top: 35px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-55 {
	margin-top: 55px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-65 {
	margin-top: 65px;
}

.mt-70 {
	margin-top: 70px;
}

.mt-75 {
	margin-top: 75px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-85 {
	margin-top: 85px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-95 {
	margin-top: 95px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-105 {
	margin-top: 105px;
}

.mt-110 {
	margin-top: 110px;
}

.mt-115 {
	margin-top: 115px;
}

.mt-120 {
	margin-top: 120px;
}

.mt-125 {
	margin-top: 125px;
}

.mt-130 {
	margin-top: 130px;
}

.mt-135 {
	margin-top: 135px;
}

.mt-140 {
	margin-top: 140px;
}

.mt-145 {
	margin-top: 145px;
}

.mt-150 {
	margin-top: 150px;
}

.mt-155 {
	margin-top: 155px;
}

.mt-160 {
	margin-top: 160px;
}

.mt-165 {
	margin-top: 165px;
}

.mt-170 {
	margin-top: 170px;
}

.mt-175 {
	margin-top: 175px;
}

.mt-180 {
	margin-top: 180px;
}

.mt-185 {
	margin-top: 185px;
}

.mt-190 {
	margin-top: 190px;
}

.mt-195 {
	margin-top: 195px;
}

.mt-200 {
	margin-top: 200px;
}

/*-- Margin Bottom --*/

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-25 {
	margin-bottom: 25px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-55 {
	margin-bottom: 55px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-65 {
	margin-bottom: 65px;
}

.mb-70 {
	margin-bottom: 70px;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-80 {
	margin-bottom: 80px;
}

.mb-85 {
	margin-bottom: 85px;
}

.mb-90 {
	margin-bottom: 90px;
}

.mb-95 {
	margin-bottom: 95px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mb-105 {
	margin-bottom: 105px;
}

.mb-110 {
	margin-bottom: 110px;
}

.mb-115 {
	margin-bottom: 115px;
}

.mb-120 {
	margin-bottom: 120px;
}

.mb-125 {
	margin-bottom: 125px;
}

.mb-130 {
	margin-bottom: 130px;
}

.mb-135 {
	margin-bottom: 135px;
}

.mb-140 {
	margin-bottom: 140px;
}

.mb-145 {
	margin-bottom: 145px;
}

.mb-150 {
	margin-bottom: 150px;
}

.mb-155 {
	margin-bottom: 155px;
}

.mb-160 {
	margin-bottom: 160px;
}

.mb-165 {
	margin-bottom: 165px;
}

.mb-170 {
	margin-bottom: 170px;
}

.mb-175 {
	margin-bottom: 175px;
}

.mb-180 {
	margin-bottom: 180px;
}

.mb-185 {
	margin-bottom: 185px;
}

.mb-190 {
	margin-bottom: 190px;
}

.mb-195 {
	margin-bottom: 195px;
}

.mb-200 {
	margin-bottom: 200px;
}

/*-- Padding Top --*/

.pt-5 {
	padding-top: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-15 {
	padding-top: 15px;
}

.pt-20 {
	padding-top: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pt-30 {
	padding-top: 30px;
}

.pt-35 {
	padding-top: 35px;
}

.pt-40 {
	padding-top: 40px;
}

.pt-45 {
	padding-top: 45px;
}

.pt-50 {
	padding-top: 50px;
}

.pt-55 {
	padding-top: 55px;
}

.pt-60 {
	padding-top: 60px;
}

.pt-65 {
	padding-top: 65px;
}

.pt-70 {
	padding-top: 70px;
}

.pt-75 {
	padding-top: 75px;
}

.pt-80 {
	padding-top: 80px;
}

.pt-85 {
	padding-top: 85px;
}

.pt-90 {
	padding-top: 90px;
}

.pt-95 {
	padding-top: 95px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-105 {
	padding-top: 105px;
}

.pt-110 {
	padding-top: 110px;
}

.pt-115 {
	padding-top: 115px;
}

.pt-120 {
	padding-top: 120px;
}

.pt-125 {
	padding-top: 125px;
}

.pt-130 {
	padding-top: 130px;
}

.pt-135 {
	padding-top: 135px;
}

.pt-140 {
	padding-top: 140px;
}

.pt-145 {
	padding-top: 145px;
}

.pt-150 {
	padding-top: 150px;
}

.pt-155 {
	padding-top: 155px;
}

.pt-160 {
	padding-top: 160px;
}

.pt-165 {
	padding-top: 165px;
}

.pt-170 {
	padding-top: 170px;
}

.pt-175 {
	padding-top: 175px;
}

.pt-180 {
	padding-top: 180px;
}

.pt-185 {
	padding-top: 185px;
}

.pt-190 {
	padding-top: 190px;
}

.pt-195 {
	padding-top: 195px;
}

.pt-200 {
	padding-top: 200px;
}

/*-- Padding Bottom --*/

.pb-5 {
	padding-bottom: 5px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-35 {
	padding-bottom: 35px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pb-45 {
	padding-bottom: 45px;
}

.pb-50 {
	padding-bottom: 50px;
}

.pb-55 {
	padding-bottom: 55px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pb-65 {
	padding-bottom: 65px;
}

.pb-70 {
	padding-bottom: 70px;
}

.pb-75 {
	padding-bottom: 75px;
}

.pb-80 {
	padding-bottom: 80px;
}

.pb-85 {
	padding-bottom: 85px;
}

.pb-90 {
	padding-bottom: 90px;
}

.pb-95 {
	padding-bottom: 95px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-105 {
	padding-bottom: 105px;
}

.pb-110 {
	padding-bottom: 110px;
}

.pb-115 {
	padding-bottom: 115px;
}

.pb-120 {
	padding-bottom: 120px;
}

.pb-125 {
	padding-bottom: 125px;
}

.pb-130 {
	padding-bottom: 130px;
}

.pb-135 {
	padding-bottom: 135px;
}

.pb-140 {
	padding-bottom: 140px;
}

.pb-145 {
	padding-bottom: 145px;
}

.pb-150 {
	padding-bottom: 150px;
}

.pb-155 {
	padding-bottom: 155px;
}

.pb-160 {
	padding-bottom: 160px;
}

.pb-165 {
	padding-bottom: 165px;
}

.pb-170 {
	padding-bottom: 170px;
}

.pb-175 {
	padding-bottom: 175px;
}

.pb-180 {
	padding-bottom: 180px;
}

.pb-185 {
	padding-bottom: 185px;
}

.pb-190 {
	padding-bottom: 190px;
}

.pb-195 {
	padding-bottom: 195px;
}

.pb-200 {
	padding-bottom: 200px;
}



/*-- Padding Left --*/
.pl-0 {
	padding-left: 0px;
}

.pl-5 {
	padding-left: 5px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.pl-20 {
	padding-left: 20px;
}

.pl-25 {
	padding-left: 35px;
}

.pl-30 {
	padding-left: 30px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-35 {
	padding-left: 35px;
}

.pl-40 {
	padding-left: 40px;
}

.pl-45 {
	padding-left: 45px;
}

.pl-50 {
	padding-left: 50px;
}

.pl-55 {
	padding-left: 55px;
}

.pl-60 {
	padding-left: 60px;
}

.pl-65 {
	padding-left: 65px;
}

.pl-70 {
	padding-left: 70px;
}

.pl-75 {
	padding-left: 75px;
}

.pl-80 {
	padding-left: 80px;
}

.pl-85 {
	padding-left: 80px;
}

.pl-90 {
	padding-left: 90px;
}

.pl-95 {
	padding-left: 95px;
}

.pl-100 {
	padding-left: 100px;
}


/*-- Padding Right --*/
.pr-0 {
	padding-right: 0px;
}

.pr-5 {
	padding-right: 5px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-15 {
	padding-right: 15px;
}

.pr-20 {
	padding-right: 20px;
}

.pr-25 {
	padding-right: 35px;
}

.pr-30 {
	padding-right: 30px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-35 {
	padding-right: 35px;
}

.pr-40 {
	padding-right: 40px;
}

.pr-45 {
	padding-right: 45px;
}

.pr-50 {
	padding-right: 50px;
}

.pr-55 {
	padding-right: 55px;
}

.pr-60 {
	padding-right: 60px;
}

.pr-65 {
	padding-right: 65px;
}

.pr-70 {
	padding-right: 70px;
}

.pr-75 {
	padding-right: 75px;
}

.pr-80 {
	padding-right: 80px;
}

.pr-85 {
	padding-right: 80px;
}

.pr-90 {
	padding-right: 90px;
}

.pr-95 {
	padding-right: 95px;
}

.pr-100 {
	padding-right: 100px;
}



@media (max-width: 1450px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

	/*-- Margin Top --*/
	.mt-5 {
		margin-top: 2.5px;
	}

	.mt-10 {
		margin-top: 5px;
	}

	.mt-15 {
		margin-top: 7.5px;
	}

	.mt-20 {
		margin-top: 10px;
	}

	.mt-25 {
		margin-top: 12.5px;
	}

	.mt-30 {
		margin-top: 15px;
	}

	.mt-35 {
		margin-top: 17.5px;
	}

	.mt-40 {
		margin-top: 20px;
	}

	.mt-45 {
		margin-top: 22.5px;
	}

	.mt-50 {
		margin-top: 25px;
	}

	.mt-55 {
		margin-top: 27.5px;
	}

	.mt-60 {
		margin-top: 30px;
	}

	.mt-65 {
		margin-top: 32.5px;
	}

	.mt-70 {
		margin-top: 35px;
	}

	.mt-75 {
		margin-top: 37.5px;
	}

	.mt-80 {
		margin-top: 40px;
	}

	.mt-85 {
		margin-top: 42.5px;
	}

	.mt-90 {
		margin-top: 45px;
	}

	.mt-95 {
		margin-top: 47.5px;
	}

	.mt-100 {
		margin-top: 50px;
	}

	.mt-105 {
		margin-top: 52.5px;
	}

	.mt-110 {
		margin-top: 55px;
	}

	.mt-115 {
		margin-top: 57.5px;
	}

	.mt-120 {
		margin-top: 60px;
	}

	.mt-125 {
		margin-top: 62.5px;
	}

	.mt-130 {
		margin-top: 65px;
	}

	.mt-135 {
		margin-top: 67.5px;
	}

	.mt-140 {
		margin-top: 70px;
	}

	.mt-145 {
		margin-top: 72.5px;
	}

	.mt-150 {
		margin-top: 75px;
	}

	.mt-155 {
		margin-top: 77.5px;
	}

	.mt-160 {
		margin-top: 80px;
	}

	.mt-165 {
		margin-top: 82.5px;
	}

	.mt-170 {
		margin-top: 85px;
	}

	.mt-175 {
		margin-top: 87.5px;
	}

	.mt-180 {
		margin-top: 90px;
	}

	.mt-185 {
		margin-top: 92.5px;
	}

	.mt-190 {
		margin-top: 95px;
	}

	.mt-195 {
		margin-top: 97.5px;
	}

	.mt-200 {
		margin-top: 100px;
	}

	/*-- Margin Bottom --*/
	.mb-5 {
		margin-bottom: 2.5px;
	}

	.mb-10 {
		margin-bottom: 5px;
	}

	.mb-15 {
		margin-bottom: 7.5px;
	}

	.mb-20 {
		margin-bottom: 10px;
	}

	.mb-25 {
		margin-bottom: 12.5px;
	}

	.mb-30 {
		margin-bottom: 15px;
	}

	.mb-35 {
		margin-bottom: 17.5px;
	}

	.mb-40 {
		margin-bottom: 20px;
	}

	.mb-45 {
		margin-bottom: 22.5px;
	}

	.mb-50 {
		margin-bottom: 25px;
	}

	.mb-55 {
		margin-bottom: 27.5px;
	}

	.mb-60 {
		margin-bottom: 30px;
	}

	.mb-65 {
		margin-bottom: 32.5px;
	}

	.mb-70 {
		margin-bottom: 35px;
	}

	.mb-75 {
		margin-bottom: 37.5px;
	}

	.mb-80 {
		margin-bottom: 40px;
	}

	.mb-85 {
		margin-bottom: 42.5px;
	}

	.mb-90 {
		margin-bottom: 45px;
	}

	.mb-95 {
		margin-bottom: 47.5px;
	}

	.mb-100 {
		margin-bottom: 50px;
	}

	.mb-105 {
		margin-bottom: 52.5px;
	}

	.mb-110 {
		margin-bottom: 55px;
	}

	.mb-115 {
		margin-bottom: 57.5px;
	}

	.mb-120 {
		margin-bottom: 60px;
	}

	.mb-125 {
		margin-bottom: 62.5px;
	}

	.mb-130 {
		margin-bottom: 65px;
	}

	.mb-135 {
		margin-bottom: 67.5px;
	}

	.mb-140 {
		margin-bottom: 70px;
	}

	.mb-145 {
		margin-bottom: 72.5px;
	}

	.mb-150 {
		margin-bottom: 75px;
	}

	.mb-155 {
		margin-bottom: 77.5px;
	}

	.mb-160 {
		margin-bottom: 80px;
	}

	.mb-165 {
		margin-bottom: 82.5px;
	}

	.mb-170 {
		margin-bottom: 85px;
	}

	.mb-175 {
		margin-bottom: 87.5px;
	}

	.mb-180 {
		margin-bottom: 90px;
	}

	.mb-185 {
		margin-bottom: 92.5px;
	}

	.mb-190 {
		margin-bottom: 95px;
	}

	.mb-195 {
		margin-bottom: 97.5px;
	}

	.mb-200 {
		margin-bottom: 100px;
	}

	/*-- Padding Top --*/
	.pt-5 {
		padding-top: 2.5px;
	}

	.pt-10 {
		padding-top: 5px;
	}

	.pt-15 {
		padding-top: 7.5px;
	}

	.pt-20 {
		padding-top: 10px;
	}

	.pt-25 {
		padding-top: 12.5px;
	}

	.pt-30 {
		padding-top: 15px;
	}

	.pt-35 {
		padding-top: 17.5px;
	}

	.pt-40 {
		padding-top: 20px;
	}

	.pt-45 {
		padding-top: 22.5px;
	}

	.pt-50 {
		padding-top: 25px;
	}

	.pt-55 {
		padding-top: 27.5px;
	}

	.pt-60 {
		padding-top: 30px;
	}

	.pt-65 {
		padding-top: 32.5px;
	}

	.pt-70 {
		padding-top: 35px;
	}

	.pt-75 {
		padding-top: 37.5px;
	}

	.pt-80 {
		padding-top: 40px;
	}

	.pt-85 {
		padding-top: 42.5px;
	}

	.pt-90 {
		padding-top: 45px;
	}

	.pt-95 {
		padding-top: 47.5px;
	}

	.pt-100 {
		padding-top: 50px;
	}

	.pt-105 {
		padding-top: 52.5px;
	}

	.pt-110 {
		padding-top: 55px;
	}

	.pt-115 {
		padding-top: 57.5px;
	}

	.pt-120 {
		padding-top: 60px;
	}

	.pt-125 {
		padding-top: 62.5px;
	}

	.pt-130 {
		padding-top: 65px;
	}

	.pt-135 {
		padding-top: 67.5px;
	}

	.pt-140 {
		padding-top: 70px;
	}

	.pt-145 {
		padding-top: 72.5px;
	}

	.pt-150 {
		padding-top: 75px;
	}

	.pt-155 {
		padding-top: 77.5px;
	}

	.pt-160 {
		padding-top: 80px;
	}

	.pt-165 {
		padding-top: 82.5px;
	}

	.pt-170 {
		padding-top: 85px;
	}

	.pt-175 {
		padding-top: 87.5px;
	}

	.pt-180 {
		padding-top: 90px;
	}

	.pt-185 {
		padding-top: 92.5px;
	}

	.pt-190 {
		padding-top: 95px;
	}

	.pt-195 {
		padding-top: 97.5px;
	}

	.pt-200 {
		padding-top: 100px;
	}

	/*-- Padding Bottom --*/
	.pb-5 {
		padding-bottom: 2.5px;
	}

	.pb-10 {
		padding-bottom: 5px;
	}

	.pb-15 {
		padding-bottom: 7.5px;
	}

	.pb-20 {
		padding-bottom: 10px;
	}

	.pb-25 {
		padding-bottom: 12.5px;
	}

	.pb-30 {
		padding-bottom: 15px;
	}

	.pb-35 {
		padding-bottom: 17.5px;
	}

	.pb-40 {
		padding-bottom: 20px;
	}

	.pb-45 {
		padding-bottom: 22.5px;
	}

	.pb-50 {
		padding-bottom: 25px;
	}

	.pb-55 {
		padding-bottom: 27.5px;
	}

	.pb-60 {
		padding-bottom: 30px;
	}

	.pb-65 {
		padding-bottom: 32.5px;
	}

	.pb-70 {
		padding-bottom: 35px;
	}

	.pb-75 {
		padding-bottom: 37.5px;
	}

	.pb-80 {
		padding-bottom: 40px;
	}

	.pb-85 {
		padding-bottom: 42.5px;
	}

	.pb-90 {
		padding-bottom: 45px;
	}

	.pb-95 {
		padding-bottom: 47.5px;
	}

	.pb-100 {
		padding-bottom: 50px;
	}

	.pb-105 {
		padding-bottom: 52.5px;
	}

	.pb-110 {
		padding-bottom: 55px;
	}

	.pb-115 {
		padding-bottom: 57.5px;
	}

	.pb-120 {
		padding-bottom: 60px;
	}

	.pb-125 {
		padding-bottom: 62.5px;
	}

	.pb-130 {
		padding-bottom: 65px;
	}

	.pb-135 {
		padding-bottom: 67.5px;
	}

	.pb-140 {
		padding-bottom: 70px;
	}

	.pb-145 {
		padding-bottom: 72.5px;
	}

	.pb-150 {
		padding-bottom: 75px;
	}

	.pb-155 {
		padding-bottom: 77.5px;
	}

	.pb-160 {
		padding-bottom: 80px;
	}

	.pb-165 {
		padding-bottom: 82.5px;
	}

	.pb-170 {
		padding-bottom: 85px;
	}

	.pb-175 {
		padding-bottom: 87.5px;
	}

	.pb-180 {
		padding-bottom: 90px;
	}

	.pb-185 {
		padding-bottom: 92.5px;
	}

	.pb-190 {
		padding-bottom: 95px;
	}

	.pb-195 {
		padding-bottom: 97.5px;
	}

	.pb-200 {
		padding-bottom: 100px;
	}

	/*-- Padding Left --*/
	.pl-0 {
		padding-left: 0px;
	}

	.pl-5 {
		padding-left: 2.5px;
	}

	.pl-10 {
		padding-left: 5px;
	}

	.pl-15 {
		padding-left: 7.5px;
	}

	.pl-20 {
		padding-left: 10px;
	}

	.pl-25 {
		padding-left: 17.5px;
	}

	.pl-30 {
		padding-left: 15px;
	}

	.pl-35 {
		padding-left: 17.5px;
	}

	.pl-40 {
		padding-left: 20px;
	}

	.pl-45 {
		padding-left: 22.5px;
	}

	.pl-50 {
		padding-left: 25px;
	}

	.pl-55 {
		padding-left: 27.5px;
	}

	.pl-60 {
		padding-left: 30px;
	}

	.pl-65 {
		padding-left: 32.5px;
	}

	.pl-70 {
		padding-left: 35px;
	}

	.pl-75 {
		padding-left: 37.5px;
	}

	.pl-80 {
		padding-left: 40px;
	}

	.pl-85 {
		padding-left: 40px;
	}

	.pl-90 {
		padding-left: 45px;
	}

	.pl-95 {
		padding-left: 47.5px;
	}

	.pl-100 {
		padding-left: 50px;
	}

	/*-- Padding Right --*/
	.pr-0 {
		padding-right: 0px;
	}

	.pr-5 {
		padding-right: 2.5px;
	}

	.pr-10 {
		padding-right: 5px;
	}

	.pr-15 {
		padding-right: 7.5px;
	}

	.pr-20 {
		padding-right: 10px;
	}

	.pr-25 {
		padding-right: 17.5px;
	}

	.pr-30 {
		padding-right: 15px;
	}

	.pr-35 {
		padding-right: 17.5px;
	}

	.pr-40 {
		padding-right: 20px;
	}

	.pr-45 {
		padding-right: 22.5px;
	}

	.pr-50 {
		padding-right: 25px;
	}

	.pr-55 {
		padding-right: 27.5px;
	}

	.pr-60 {
		padding-right: 30px;
	}

	.pr-65 {
		padding-right: 32.5px;
	}

	.pr-70 {
		padding-right: 35px;
	}

	.pr-75 {
		padding-right: 37.5px;
	}

	.pr-80 {
		padding-right: 40px;
	}

	.pr-85 {
		padding-right: 40px;
	}

	.pr-90 {
		padding-right: 45px;
	}

	.pr-95 {
		padding-right: 47.5px;
	}

	.pr-100 {
		padding-right: 50px;
	}

}

@media (max-width: 576px) {

	/*-- Margin Top --*/
	.mt-5 {
		margin-top: 3.5px;
	}

	.mt-10 {
		margin-top: 7px;
	}

	.mt-15 {
		margin-top: 10.5px;
	}

	.mt-20 {
		margin-top: 14px;
	}

	.mt-25 {
		margin-top: 17.5px;
	}

	.mt-30 {
		margin-top: 21px;
	}

	.mt-35 {
		margin-top: 24.5px;
	}

	.mt-40 {
		margin-top: 28px;
	}

	.mt-45 {
		margin-top: 31.5px;
	}

	.mt-50 {
		margin-top: 35px;
	}

	.mt-55 {
		margin-top: 38.5px;
	}

	.mt-60 {
		margin-top: 42px;
	}

	.mt-65 {
		margin-top: 45.5px;
	}

	.mt-70 {
		margin-top: 49px;
	}

	.mt-75 {
		margin-top: 52.5px;
	}

	.mt-80 {
		margin-top: 56px;
	}

	.mt-85 {
		margin-top: 59.5px;
	}

	.mt-90 {
		margin-top: 63px;
	}

	.mt-95 {
		margin-top: 66.5px;
	}

	.mt-100 {
		margin-top: 70px;
	}

	.mt-105 {
		margin-top: 73.5px;
	}

	.mt-110 {
		margin-top: 77px;
	}

	.mt-115 {
		margin-top: 80.5px;
	}

	.mt-120 {
		margin-top: 84px;
	}

	.mt-125 {
		margin-top: 87.5px;
	}

	.mt-130 {
		margin-top: 91px;
	}

	.mt-135 {
		margin-top: 94.5px;
	}

	.mt-140 {
		margin-top: 98px;
	}

	.mt-145 {
		margin-top: 101.5px;
	}

	.mt-150 {
		margin-top: 105px;
	}

	.mt-155 {
		margin-top: 108.5px;
	}

	.mt-160 {
		margin-top: 112px;
	}

	.mt-165 {
		margin-top: 115.5px;
	}

	.mt-170 {
		margin-top: 119px;
	}

	.mt-175 {
		margin-top: 122.5px;
	}

	.mt-180 {
		margin-top: 126px;
	}

	.mt-185 {
		margin-top: 129.5px;
	}

	.mt-190 {
		margin-top: 133px;
	}

	.mt-195 {
		margin-top: 136.5px;
	}

	.mt-200 {
		margin-top: 140px;
	}

	/*-- Margin Bottom --*/
	.mb-5 {
		margin-bottom: 3.5px;
	}

	.mb-10 {
		margin-bottom: 7px;
	}

	.mb-15 {
		margin-bottom: 10.5px;
	}

	.mb-20 {
		margin-bottom: 14px;
	}

	.mb-25 {
		margin-bottom: 17.5px;
	}

	.mb-30 {
		margin-bottom: 21px;
	}

	.mb-35 {
		margin-bottom: 24.5px;
	}

	.mb-40 {
		margin-bottom: 28px;
	}

	.mb-45 {
		margin-bottom: 31.5px;
	}

	.mb-50 {
		margin-bottom: 35px;
	}

	.mb-55 {
		margin-bottom: 38.5px;
	}

	.mb-60 {
		margin-bottom: 42px;
	}

	.mb-65 {
		margin-bottom: 45.5px;
	}

	.mb-70 {
		margin-bottom: 49px;
	}

	.mb-75 {
		margin-bottom: 52.5px;
	}

	.mb-80 {
		margin-bottom: 56px;
	}

	.mb-85 {
		margin-bottom: 59.5px;
	}

	.mb-90 {
		margin-bottom: 63px;
	}

	.mb-95 {
		margin-bottom: 66.5px;
	}

	.mb-100 {
		margin-bottom: 70px;
	}

	.mb-105 {
		margin-bottom: 73.5px;
	}

	.mb-110 {
		margin-bottom: 77px;
	}

	.mb-115 {
		margin-bottom: 80.5px;
	}

	.mb-120 {
		margin-bottom: 84px;
	}

	.mb-125 {
		margin-bottom: 87.5px;
	}

	.mb-130 {
		margin-bottom: 91px;
	}

	.mb-135 {
		margin-bottom: 94.5px;
	}

	.mb-140 {
		margin-bottom: 98px;
	}

	.mb-145 {
		margin-bottom: 101.5px;
	}

	.mb-150 {
		margin-bottom: 105px;
	}

	.mb-155 {
		margin-bottom: 108.5px;
	}

	.mb-160 {
		margin-bottom: 112px;
	}

	.mb-165 {
		margin-bottom: 115.5px;
	}

	.mb-170 {
		margin-bottom: 119px;
	}

	.mb-175 {
		margin-bottom: 122.5px;
	}

	.mb-180 {
		margin-bottom: 126px;
	}

	.mb-185 {
		margin-bottom: 129.5px;
	}

	.mb-190 {
		margin-bottom: 133px;
	}

	.mb-195 {
		margin-bottom: 136.5px;
	}

	.mb-200 {
		margin-bottom: 140px;
	}

	/*-- Padding Top --*/
	.pt-5 {
		padding-top: 3.5px;
	}

	.pt-10 {
		padding-top: 7px;
	}

	.pt-15 {
		padding-top: 10.5px;
	}

	.pt-20 {
		padding-top: 14px;
	}

	.pt-25 {
		padding-top: 17.5px;
	}

	.pt-30 {
		padding-top: 21px;
	}

	.pt-35 {
		padding-top: 24.5px;
	}

	.pt-40 {
		padding-top: 28px;
	}

	.pt-45 {
		padding-top: 31.5px;
	}

	.pt-50 {
		padding-top: 35px;
	}

	.pt-55 {
		padding-top: 38.5px;
	}

	.pt-60 {
		padding-top: 42px;
	}

	.pt-65 {
		padding-top: 45.5px;
	}

	.pt-70 {
		padding-top: 49px;
	}

	.pt-75 {
		padding-top: 52.5px;
	}

	.pt-80 {
		padding-top: 56px;
	}

	.pt-85 {
		padding-top: 59.5px;
	}

	.pt-90 {
		padding-top: 63px;
	}

	.pt-95 {
		padding-top: 66.5px;
	}

	.pt-100 {
		padding-top: 70px;
	}

	.pt-105 {
		padding-top: 73.5px;
	}

	.pt-110 {
		padding-top: 77px;
	}

	.pt-115 {
		padding-top: 80.5px;
	}

	.pt-120 {
		padding-top: 84px;
	}

	.pt-125 {
		padding-top: 87.5px;
	}

	.pt-130 {
		padding-top: 91px;
	}

	.pt-135 {
		padding-top: 94.5px;
	}

	.pt-140 {
		padding-top: 98px;
	}

	.pt-145 {
		padding-top: 101.5px;
	}

	.pt-150 {
		padding-top: 105px;
	}

	.pt-155 {
		padding-top: 108.5px;
	}

	.pt-160 {
		padding-top: 112px;
	}

	.pt-165 {
		padding-top: 115.5px;
	}

	.pt-170 {
		padding-top: 119px;
	}

	.pt-175 {
		padding-top: 122.5px;
	}

	.pt-180 {
		padding-top: 126px;
	}

	.pt-185 {
		padding-top: 129.5px;
	}

	.pt-190 {
		padding-top: 133px;
	}

	.pt-195 {
		padding-top: 136.5px;
	}

	.pt-200 {
		padding-top: 140px;
	}

	/*-- Padding Bottom --*/
	.pb-5 {
		padding-bottom: 3.5px;
	}

	.pb-10 {
		padding-bottom: 7px;
	}

	.pb-15 {
		padding-bottom: 10.5px;
	}

	.pb-20 {
		padding-bottom: 14px;
	}

	.pb-25 {
		padding-bottom: 17.5px;
	}

	.pb-30 {
		padding-bottom: 21px;
	}

	.pb-35 {
		padding-bottom: 24.5px;
	}

	.pb-40 {
		padding-bottom: 28px;
	}

	.pb-45 {
		padding-bottom: 31.5px;
	}

	.pb-50 {
		padding-bottom: 35px;
	}

	.pb-55 {
		padding-bottom: 38.5px;
	}

	.pb-60 {
		padding-bottom: 42px;
	}

	.pb-65 {
		padding-bottom: 45.5px;
	}

	.pb-70 {
		padding-bottom: 49px;
	}

	.pb-75 {
		padding-bottom: 52.5px;
	}

	.pb-80 {
		padding-bottom: 56px;
	}

	.pb-85 {
		padding-bottom: 59.5px;
	}

	.pb-90 {
		padding-bottom: 63px;
	}

	.pb-95 {
		padding-bottom: 66.5px;
	}

	.pb-100 {
		padding-bottom: 70px;
	}

	.pb-105 {
		padding-bottom: 73.5px;
	}

	.pb-110 {
		padding-bottom: 77px;
	}

	.pb-115 {
		padding-bottom: 80.5px;
	}

	.pb-120 {
		padding-bottom: 84px;
	}

	.pb-125 {
		padding-bottom: 87.5px;
	}

	.pb-130 {
		padding-bottom: 91px;
	}

	.pb-135 {
		padding-bottom: 94.5px;
	}

	.pb-140 {
		padding-bottom: 98px;
	}

	.pb-145 {
		padding-bottom: 101.5px;
	}

	.pb-150 {
		padding-bottom: 105px;
	}

	.pb-155 {
		padding-bottom: 108.5px;
	}

	.pb-160 {
		padding-bottom: 112px;
	}

	.pb-165 {
		padding-bottom: 115.5px;
	}

	.pb-170 {
		padding-bottom: 119px;
	}

	.pb-175 {
		padding-bottom: 122.5px;
	}

	.pb-180 {
		padding-bottom: 126px;
	}

	.pb-185 {
		padding-bottom: 129.5px;
	}

	.pb-190 {
		padding-bottom: 133px;
	}

	.pb-195 {
		padding-bottom: 136.5px;
	}

	.pb-200 {
		padding-bottom: 140px;
	}

	/*-- Padding Left --*/
	.pl-0 {
		padding-left: 0px;
	}

	.pl-5 {
		padding-left: 1.5px;
	}

	.pl-10 {
		padding-left: 3px;
	}

	.pl-15 {
		padding-left: 4.5px;
	}

	.pl-20 {
		padding-left: 6px;
	}

	.pl-25 {
		padding-left: 8.5px;
	}

	.pl-30 {
		padding-left: 7.5px;
	}

	.pl-35 {
		padding-left: 8.5px;
	}

	.pl-40 {
		padding-left: 10px;
	}

	.pl-45 {
		padding-left: 10.5px;
	}

	.pl-50 {
		padding-left: 12.5px;
	}

	.pl-55 {
		padding-left: 13.5px;
	}

	.pl-60 {
		padding-left: 15px;
	}

	.pl-65 {
		padding-left: 16.5px;
	}

	.pl-70 {
		padding-left: 17.5px;
	}

	.pl-75 {
		padding-left: 18.5px;
	}

	.pl-80 {
		padding-left: 20px;
	}

	.pl-85 {
		padding-left: 20px;
	}

	.pl-90 {
		padding-left: 22.5px;
	}

	.pl-95 {
		padding-left: 23.5px;
	}

	.pl-100 {
		padding-left: 25px;
	}

	/*-- Padding Right --*/
	.pr-0 {
		padding-right: 0px;
	}

	.pr-5 {
		padding-right: 1.5px;
	}

	.pr-10 {
		padding-right: 3px;
	}

	.pr-15 {
		padding-right: 4.5px;
	}

	.pr-20 {
		padding-right: 6px;
	}

	.pr-25 {
		padding-right: 8.5px;
	}

	.pr-30 {
		padding-right: 7.5px;
	}

	.pr-35 {
		padding-right: 8.5px;
	}

	.pr-40 {
		padding-right: 10px;
	}

	.pr-45 {
		padding-right: 10.5px;
	}

	.pr-50 {
		padding-right: 12.5px;
	}

	.pr-55 {
		padding-right: 13.5px;
	}

	.pr-60 {
		padding-right: 15px;
	}

	.pr-65 {
		padding-right: 16.5px;
	}

	.pr-70 {
		padding-right: 17.5px;
	}

	.pr-75 {
		padding-right: 18.5px;
	}

	.pr-80 {
		padding-right: 20px;
	}

	.pr-85 {
		padding-right: 20px;
	}

	.pr-90 {
		padding-right: 22.5px;
	}

	.pr-95 {
		padding-right: 23.5px;
	}

	.pr-100 {
		padding-right: 25px;
	}

}