@media (max-width: 1450px) {
    .container {
        max-width: 1140px;
    }

    .about {
        &__lcw {
            width: 70%;
        }

        &__img {
            &:first-child {
                display: none;
            }
        }

        &__rcw {
            padding-left: calc(30% + var(--gap-50) * 2);
        }
    }

    .steps {
        &__title {
            width: 56%;
        }
    }

    .contact-form {
        &__descr {
            width: 70%;
        }
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .header {
        &__inner {
            padding: 0 30px;
        }
    }

    .promo {
        &__inner {
            width: 80%;
        }

        &__car {
            width: 500px;
        }
    }

    .catalog {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .about {
        padding: 120px 0 130px 0;
        display: flex;
        flex-direction: column;

        &__lcw {
            position: relative;
            width: 100%;
            transform: translate(0, 0);
            order: 2;
            margin-top: var(--gap-70);
        }

        &__imgs {
            width: 960px;
            margin: 0 auto;
        }

        &__img {
            &:first-child {
                display: block;
            }
        }

        &__rcw {
            padding-left: 0;
        }
    }

    .benefits {
        &__items {
            padding-left: 0;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .promo {
        &__car {
            width: 400px;
        }
    }

    .catalog {
        &__header {
            grid-template-columns: 100%;
        }

        &__descr {
            padding-left: 0;
        }
    }

    .about {
        &__imgs {
            width: 720px;
        }
    }

    .benefits {
        &__title {
            width: 90%;
        }
    }

    .steps {
        &__title {
            width: 100%;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item {
            &:nth-child(2) {
                border-right: none;
                border-bottom: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(3) {
                border-bottom: 1px solid var(--border-deepdark-color);
                border-right: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(4) {
                border-right: none;
                border-bottom: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(5) {
                border-right: 1px solid var(--border-deepdark-color);
                border-bottom: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(6) {
                border-bottom: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(7) {
                border-right: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(8) {
                border-right: none;
            }

            &:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .desktop-hidden {
        display: block;
    }

    .fz-63 {
        font-size: 50px;
        line-height: 50px;
    }

    .fz-43 {
        font-size: 39px;
        line-height: 45px;
    }

    .header {
        &__contacts {
            margin-right: 0;
        }

        &__divider {
            display: none;
        }

        button {
            display: none;
        }
    }

    .promo {
        &__inner {
            margin-top: 60px;
        }
    }

    .catalog {
        &__items {
            grid-template-columns: 100%;
        }


        &__item {
            &:hover {
                .catalog__about {
                    opacity: 0;
                }
                
                .catalog__sold-text {
                    opacity: 100%;
                }
            }
        }
    }

    .about {
        &__imgs {
            width: 540px;
        }
    }

    .benefits {
        &__items {
            column-gap: var(--gap-50);
        }
    }

    .steps {
        &__items {
            grid-template-columns: 100%;
        }

        &__item {
            padding: 54px 0;

            &:first-child {
                border-right: none;
            }

            &:nth-child(2) {}

            &:nth-child(3) {
                border-right: none;
            }

            &:nth-child(4) {}

            &:nth-child(5) {
                border-right: none;
            }

            &:nth-child(6) {}

            &:nth-child(7) {
                border-right: none;
                border-bottom: 1px solid var(--border-deepdark-color);
            }

            &:nth-child(8) {
                border-bottom: 1px solid var(--border-deepdark-color);
            }

            &:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }

    .contact-form {
        &__descr {
            width: 100%;
        }

        &__form {
            flex-direction: column;
            align-items: flex-start;

            button {
                margin-top: 40px;
            }
        }

        &__fields {
            margin-right: 0;
            width: 100%;
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .fz-63 {
        font-size: 45px;
        line-height: 45px;
    }

    .fz-43 {
        font-size: 30px;
        line-height: 35px;
    }

    .btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .header {
        &__call {
            display: none;
        }

        &__logo {
            width: 100%;
        }
    }

    .promo {
        &__inner {
            margin-top: 0;
            width: 100%;
        }

        &__descr {
            width: 80%;
        }

        &__bg {
            opacity: .3;
        }
    }

    .about {
        padding: 80px 0 80px 0;

        &__imgs {
            width: 100%;
        }
    }

    .benefits {
        &__items {
            grid-template-columns: 100%;
        }
    }

    .steps {
        &__item {
            padding: 25px 0;

            &:first-child {
                padding-top: 0;
            }

            button {
                margin-top: 50px;
            }
        }
    }

    .contact-form {
        &__fields {
            grid-template-columns: 100%;
        }
    }

    .footer {
        &__tcw {
            grid-template-columns: 100%;
            justify-items: start;

            gap: var(--gap-40);
        }

        &__bcw {
            grid-template-columns: 100%;
            gap: var(--gap-40);
        }
    }
}